<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="de.demarks.wms.dao.PacketMapper">

	<resultMap type="de.demarks.wms.domain.PacketDO" id="packetDO">
		<id property="id" column="PACKET_ID"/>
		<result property="trace" column="PACKET_TRACE"/>
		<result property="time" column="PACKET_TIME"/>
		<result property="status" column="PACKET_STATUS"/>
		<result property="desc" column="PACKET_DESC"/>
		<result property="repositoryID" column="PACKET_REPOID"/>
	</resultMap>

	<select id="selectAll" resultMap="packetDO">
		select
			p.PACKET_ID,
			p.PACKET_TRACE,
			p.PACKET_TIME,
			p.PACKET_STATUS,
			p.PACKET_DESC,
			p.PACKET_REPOID
		from
			wms_packet p, wms_repository r
		where
			p.PACKET_REPOID = r.REPO_ID
		<if test="repositoryID !=null">
			and p.PACKET_REPOID = #{repositoryID}
		</if>
	</select>
	
	<select id="selectByPacketID" resultMap="packetDO">
		select
			p.PACKET_ID,
			p.PACKET_TRACE,
			p.PACKET_TIME,
			p.PACKET_STATUS,
			p.PACKET_DESC,
			p.PACKET_REPOID
		from
			wms_packet p, wms_repository r
		where
			p.PACKET_REPOID = r.REPO_ID and
			p.PACKET_ID = #{packetID}
	</select>

	<select id="selectByTrace" resultMap="packetDO">
		select
			p.PACKET_ID,
			p.PACKET_TRACE,
			p.PACKET_TIME,
			p.PACKET_STATUS,
			p.PACKET_DESC,
			p.PACKET_REPOID
		from
			wms_packet p, wms_repository r
		where
			p.PACKET_REPOID = r.REPO_ID and
			p.PACKET_TRACE = #{trace}
		<if test="repositoryID !=null">
			and p.PACKET_REPOID = #{repositoryID}
		</if>
	</select>

	<select id="selectByTraceApproximate" resultMap="packetDO">
		select
			p.PACKET_ID,
			p.PACKET_TRACE,
			p.PACKET_TIME,
			p.PACKET_STATUS,
			p.PACKET_DESC,
			p.PACKET_REPOID
		from
			wms_packet p, wms_repository r
		where
			p.PACKET_REPOID = r.REPO_ID and
			p.PACKET_TRACE like concat ('%',#{trace},'%')
		<if test="status !=null">
			and p.PACKET_STATUS = #{status}
		</if>
		<if test="repositoryID !=null">
			and p.PACKET_REPOID = #{repositoryID}
		</if>
	</select>
	
	<select id="selectByDate" resultMap="packetDO">
		select
			p.PACKET_ID,
			p.PACKET_TRACE,
			p.PACKET_TIME,
			p.PACKET_STATUS,
			p.PACKET_DESC,
			p.PACKET_REPOID
		from
			wms_packet p, wms_repository r
		where
			p.PACKET_REPOID = r.REPO_ID
		<if test="packetID != null">
			and p.PACKET_ID = #{packetID}
		</if>
		<if test="repositoryID != null ">
			and p.PACKET_REPOID = #{repositoryID}
		</if>
		<if test="startDate != null">
			and p.PACKET_TIME >= #{startDate}
		</if>
		<if test="endDate != null">
			<![CDATA[and p.PACKET_TIME <= #{endDate}]]>
		</if>
	</select>

	<insert id="insert">
		insert into wms_packet(PACKET_TRACE,PACKET_TIME,PACKET_STATUS,PACKET_DESC,PACKET_REPOID)
		values (#{trace},#{time},#{status},#{desc},#{repositoryID})
	</insert>
	
	<insert id="insertBatch">
		insert into wms_packet(PACKET_TRACE,PACKET_TIME,PACKET_STATUS,PACKET_DESC,PACKET_REPOID)
		values
		<foreach collection="list" item="packetDO" separator=",">
			(#{packetDO.trace},#{packetDO.time},#{packetDO.status},#{packetDO.desc},#{packetDO.repositoryID})
		</foreach>
	</insert>

	<update id="update">
		update
			wms_packet
		set
			PACKET_TRACE = #{trace},
			PACKET_STATUS = #{status},
			PACKET_DESC = #{desc},
			PACKET_REPOID = #{repositoryID}
		where
			PACKET_ID = #{id}
	</update>

	<delete id="deleteByPacketID">
		delete from wms_packet
		where PACKET_ID = #{packetID}
	</delete>

</mapper>