<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="de.demarks.wms.dao.StockStorageMapper">
	
	<!-- 结果映射 -->
	<resultMap type="de.demarks.wms.domain.StockStorage" id="stockStorage">
		<id property="goodsID" column="storage_goodsID"/>
		<id property="batchID" column="storage_batchID"/>
		<result property="goodsName" column="storage_goodsName"/>
		<result property="batchCode" column="storage_batchCode"/>
		<result property="repositoryID" column="storage_repositoryID"/>
		<result property="number" column="storage_number"/>
		<!-- 
		<association property="goodsInfo" javaType="com.ken.Goods" resultMap="goods"/>
		 -->
	</resultMap>

	<select id="selectAll" resultMap="stockStorage">
		select
			s.RECORD_GOODID as storage_goodsID,
			s.RECORD_BATCHID as storage_batchID,
			s.RECORD_REPOSITORY as storage_repositoryID,
			s.RECORD_NUMBER as storage_number,
			g.GOOD_NAME as storage_goodsName,
			b.REPO_BATCH_CODE as storage_batchCode
		from
			wms_goods g, wms_repo_batch b, wms_repository r, wms_record_storage s
		where
			s.RECORD_GOODID = g.GOOD_ID and
			s.RECORD_BATCHID = b.REPO_BATCH_ID and
			s.RECORD_REPOSITORY = r.REPO_ID
		<if test="batchID != null">
			and s.RECORD_BATCHID = #{batchID}
		</if>
		<if test="repositoryID != null">
			and s.RECORD_REPOSITORY = #{repositoryID}
		</if>
	</select>
	 
	<select id="selectByGoodsID" resultMap="stockStorage">
		select
			s.RECORD_GOODID as storage_goodsID,
			s.RECORD_BATCHID as storage_batchID,
			s.RECORD_REPOSITORY as storage_repositoryID,
			s.RECORD_NUMBER as storage_number,
			g.GOOD_NAME as storage_goodsName,
			b.REPO_BATCH_CODE as storage_batchCode
		from
			wms_goods g, wms_repo_batch b, wms_repository r, wms_record_storage s
		where
			s.RECORD_GOODID = g.GOOD_ID and
			s.RECORD_BATCHID = b.REPO_BATCH_ID and
			s.RECORD_REPOSITORY = r.REPO_ID and
			s.RECORD_GOODID = #{goodsID}
		<if test="batchID != null">
			and s.RECORD_BATCHID = #{batchID}
		</if>
		<if test="repositoryID != null">
			and s.RECORD_REPOSITORY = #{repositoryID}
		</if>
	</select>
	
	<select id="selectByGoodsName" resultMap="stockStorage">
		select
			s.RECORD_GOODID as storage_goodsID,
			s.RECORD_BATCHID as storage_batchID,
			s.RECORD_REPOSITORY as storage_repositoryID,
			s.RECORD_NUMBER as storage_number,
			g.GOOD_NAME as storage_goodsName,
			b.REPO_BATCH_CODE as storage_batchCode
		from
			wms_goods g, wms_repo_batch b, wms_repository r, wms_record_storage s
		where
			s.RECORD_GOODID = g.GOOD_ID and
			s.RECORD_BATCHID = b.REPO_BATCH_ID and
			s.RECORD_REPOSITORY = r.REPO_ID and
			g.GOOD_NAME like concat("%",concat(#{goodsName},"%"))
		<if test="batchID != null">
			and b.REPO_BATCH_ID = #{batchID}
		</if>
		<if test="repositoryID != null">
			and r.REPO_ID = #{repositoryID}
		</if>
	</select>

	<insert id="insert">
		insert into wms_record_storage
		(
			RECORD_GOODID,
			RECORD_BATCHID,
			RECORD_REPOSITORY,
			RECORD_NUMBER
		)
		values
		(
			#{goodsID},
			#{batchID},
			#{repositoryID},
			#{number}
		)
	</insert>

	<update id="update">
		update 
			wms_record_storage
		set
			RECORD_NUMBER = #{number}
		where
			RECORD_GOODID = #{goodsID} and
			RECORD_BATCHID = #{batchID} and
			RECORD_REPOSITORY = #{repositoryID}
	</update>

	<insert id="insertBatch">
		insert into wms_record_storage(RECORD_GOODID,RECORD_BATCHID,RECORD_REPOSITORY,RECORD_NUMBER)
		values
		<foreach collection="list" item="stockStorage" separator=",">
			(#{stockStorage.goodsID},#{stockStorage.batchID},#{stockStorage.repositoryID},#{stockStorage.number})
		</foreach>
	</insert>
	
	<delete id="delete">
		delete from
			wms_record_storage
		where
			RECORD_GOODID = #{goodsID} and
			RECORD_BATCHID = #{batchID} and
			RECORD_REPOSITORY = #{repositoryID}
	</delete>

</mapper>